# ─────────────────────────────────────────────────
#  Discord Music Bot — Environment Variables
# ─────────────────────────────────────────────────

# Your bot token from https://discord.com/developers/applications
BOT_TOKEN=MTUwMjY5OTU0NjE1MTQ4OTcwOQ.Gd6Qk3.TFXtEFfsVAlZwI0K2t5NuoZDFNYfy1GTj-HN1k

# The ID of the text channel where users type song names
# Right-click the channel → Copy Channel ID (Developer Mode must be ON)
MUSIC_CHANNEL_ID=797214970987282453

# Your Discord application/client ID (for registering slash commands)
CLIENT_ID=1502699546151489709

# Your server (guild) ID (for fast slash command registration during dev)
GUILD_ID=777646414238318592

LAVALINK_HOST=lavalinkv4.serenetia.com
LAVALINK_PORT=80
LAVALINK_PASSWORD=https://seretia.link/discord
LAVALINK_SECURE=false

NODE_VERSION=18.20.8