# ── Discord ───────────────────────────────────────
BOT_TOKEN=your_bot_token_here
MUSIC_CHANNEL_ID=your_music_channel_id_here
CLIENT_ID=your_application_client_id_here
GUILD_ID=your_guild_id_here

# ── Lavalink ──────────────────────────────────────
LAVALINK_HOST=lavalinkv4.serenetia.com
LAVALINK_PORT=443
LAVALINK_PASSWORD=https://seretia.link/discord
LAVALINK_SECURE=true
